//using stylus pre-processor
boarDescriptorColor = #F68C25
blackTitle = #333333
listColor = #DFE4E7
cardColor = #FFFFFF
footerLinkColor = #7F8A8F

.container
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  width: 1200px

.row
  margin-right: -15px
  margin-left: -15px

.row:before, .row:after, .panel__body:before
  display: table
  content: " "

.left-menu , .three-col
  width : 33.3%

.main-content
  width : 66.66%

.main-content, .three-col, .left-menu
  position: relative
  min-height: 1px
  float: left
  padding-right: 15px
  padding-left: 15px

.panel
  margin-bottom: 20px
  background-color: #fff
  border-radius: 4px
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05)
  box-shadow: 0 1px 1px rgba(0,0,0,.05)

.panel__header
  padding: 10px 15px
  border-bottom: none
  border-top-left-radius: 1px
  border-top-right-radius: 1px
  font-weight 700

.panel__header--boardDescriptor
  font-size 28px
  color white
  font-weight 900

.panel_header--boardList
  background-color listColor
  color blackTitle
  font-size 20px

.panel__body
  padding 15px
  display inline-table
  width 100%

.panel__body:after, .row:after
  clear: both

.panel__footer
  padding 0px 15px 5px 15px

.panel__footer__link
  text-align: left
  color footerLinkColor
  text-decoration-line none
  margin-left 7px

.panel__footer__controlDescriptor
  font-size: 15px
  margin-bottom 3px

.panel__footer__textInput
  display: block
  width: 100%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  color: #555
  background-color: #fff
  background-image: none
  border: 1px solid #ccc
  border-radius: 4px
  margin-bottom 5px

.panel--list
  background-color listColor
  border: 1px solid #f7f1f1;

.panel--boardList
  background-color white

.panel--boardDescriptor
  background-color orange

.card
  padding: 10px
  cursor -webkit-grab
  margin-bottom: 10px
  border-radius: 4px
  background-color cardColor

.panel__body:last-child
  margin-bottom 0px

.app
  font-family : 'Roboto', sans-serif

.menu-item
  padding 10px
  font-size 15px
  margin-bottom 10px
  border 1px black solid
  cursor pointer
  font-weight 700

*
  box-sizing border-box

